@charset "UTF-8";

*{padding: 0px; margin: 0px;}

body{
	overflow-x:hidden;
	color : #000;
}

.intro {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.intro__title{
	color: white;
	font-size: 75px;
}


.intro__title::after{
	content: '|';
	display: inline-block;
	font-size: 65px;
	animation : moveCursor 500ms infinite;
	position: absolute;
}

@keyframes moveCursor{
	from{
		color : white;
	}
	to{
		color : #000;
	}
}

.intro__button{
	color : white;
	position: absolute;
    bottom: 52px;
    font-size: 65px;
}

#content{
	width: 100vw;
    height: 100vh;
}




















