@charset "UTF-8";

*{padding: 0px; margin: 0px;}

body{
	overflow-x:hidden;
	color : #000;
}

.intro {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.intro__title{
	color: white;
	font-size: 75px;
}

.intro__title::after{
	content: '|';
	display: inline-block;
	font-size: 75px;
}


















