@charset "UTF-8";

*{padding: 0px; margin: 0px;}

body{
	overflow-x:hidden;
	color : #000;
}

.intro {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.intro__title{
	color: white;
	font-size: 60px;
}


.intro__title::after{
	content: '|';
	display: inline-block;
	font-size: 65px;
	animation : moveCursor 500ms infinite;
	position: absolute;
}

@keyframes moveCursor{
	from{
		color : white;
	}
	to{
		color : #000;
	}
}

.intro__button{
	color : white;
	position: absolute;
    bottom: 52px;
    font-size: 65px;
    cursor: pointer;
}

#content{
	width: 100vw;
    height: 100vh;
}

.mainWrap{
	width: 1200px;
	margin: 0 auto;
}

.mainBox{
	width: 100%;
	padding: 80px 0;
	display: flex;
	justify-content: space-between;
}

.gameBox{
	width: 350px;
	height: 350px;
	padding: 20px 40px;
	box-shadow: 1px 1px 3px #8e8e8e;
	cursor: pointer;
}

.gameBox:hover{
	box-shadow: 3px 3px 10px #8e8e8e;
	background-color: #F8F8F8;
}

.imageBox{
	width: 100%;
	height: 300px;
	background-image: url(../img/simonGame.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.gameBox h1{
	text-align: center;
}




















