@charset "UTF-8";

*{padding: 0px; margin: 0px;}

#wrap{
	width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.gameWrap{
	width: 1000px;
	height: 800px;
	background-color: white;
	margin: 0 auto;
}

#outerCircle{
	width: 700px;
	height: 700px;
	border: 5px solid black;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}

.topLeft{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 350px 0 0 0;
	background-color: darkgreen;
}

.topRight{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 0;
	left: 50%;
	border-radius: 0 350px 0 0;
	background-color: #BD2F2C;
}

.bottomLeft{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 0 0 0 350px;
	background-color: #FFD400;
}

.bottomRight{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 350px;
	left: 350px;
	border-radius: 0 0 350px 0;
	background-color: #222889;
}

.innerCircle{
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: #8e8e8e;
	top: 33%;
	left: 32%;
	border: 4px solid black;
}

.gameText{
	text-align: center;
	padding-top: 100px;
    font-size: 30px;
}

.startBtn{
	text-align: center;
	margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 25px;
    position: relative;
    border: none;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    display: inherit;
}





















